@using System.Security.Principal
@model Dissertation_Project.Models.SessonModel

<div class="container-fluid row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body vh-15">
                <h2 id="TaskMessage"></h2>
            </div>
        </div>
        <div class="row text-sm-center mt-2">
            <div class="col-sm-4 card">
                <h5 class="card-header">@User.Identity.Name</h5>
                <div class="card-body">
                    <div class="circle" id="circleGreenJS"></div>
                    <div class="circle" id="circleOrangeJS"></div>
                    <div class="circle" id="circleRedJS"></div>
                </div>
            </div>

        </div>

        <div class="mt-4 card card-body">
            <input type="button" id="SendButtonGreen" style="background-color: #00FF00" value="Complete" />
            <input type="button" id="SendButtonOrange" style="background-color: #FFD300" value="Pending" />
            <input type="button" id="SendButtonRed" style="background-color: #FF0000" value="Requires Assistance" />
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card overflow-scroll-y vh-65">
            <ul id="messagesList"></ul>
        </div>
        <div class="card mt-1">
            <div class="card-header">Message</div>
            <div class="card-body">
                <input type="hidden" id="userInput" value="@User.Identity.Name" />
                <input type="text" id="messageInput" />
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="taskInput" />
<input type="hidden" id=""
<input type="hidden" id="pages" value="Chat" />
<input type="hidden" id="sendTaskButton" value="Send Message" />

<style>
    .circle {
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }
</style>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>