@using System.Security.Principal
@model IEnumerable<Dissertation_Project.Models.SessonModel>

<div class="container-fluid row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body vh-15">
                <h2 id="TaskMessage"></h2>
            </div>
        </div>
        <div class="row text-sm-center mt-2">
            <div class="col-4 card">
                <h5 class="card-header">Complete</h5>
                <div class="card-body">
                    <ul id="complateList"></ul>
                </div>
            </div>
            <div class="col-4 card">
                <h5 class="card-header">Pending</h5>
                <div class="card-body">
                    <ul id="PendingList"></ul>
                </div>
            </div>
            <div class="col-4 card">
                <h5 class="card-header">Requires Assistance</h5>
                <div class="card-body">
                    <ul id="RequiresList"></ul>
                </div>
            </div>

        </div>

        <div class="mt-4 card card-body">
            <label>Enter Task</label>
            <input type="text" id="taskInput" />
            <input type="button" id="sendTaskButton" value="Send Task" />
            <br>
            @foreach (var item in Model)
            {
                <input type="hidden" id="groupName" value="@item.Id" />
                <a class="btn btn-primary" asp-action="Remove" asp-route-id="@item.Id" id="CloseButton">Close Sesson</a>
            }

        </div>
    </div>
    <div class="col-sm-4">
        <div class="card overflow-scroll-y vh-65">
            <ul id="messagesList"></ul>
        </div>
        <div class="card mt-1">
            <div class="card-header">Message</div>
            <div class="card-body">
                <input type="hidden" id="userInput" value="@User.Identity.Name" />
                <label>Enter Message</label>
                <input type="text" id="messageInput" />
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="pages" value="Tutor" />

<style>
    .circle {
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }
</style>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>